@tailwind base;
@tailwind components;

[x-cloak] { display: none !important; }

@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-1 rounded
  }

  .btn-primary {
    @apply 
      text-gray-100
      bg-violet-500
      dark:bg-violet-500
      hover:bg-violet-600
      dark:hover:bg-violet-600
      border-violet-700
      focus:ring-violet-200
  }

  .card {
    @apply
      p-4
      rounded-md
      shadow-md
      border
      dark:text-gray-300
      bg-white
      dark:bg-neutral-800
      border-gray-200
      dark:border-neutral-700
  }

  .spinner-svg {
    animation: loader-rotate 1s linear infinite;
    transform-origin: center center;
  }

  .spinner-svg circle {
    stroke: currentColor;
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
    animation: loader-dash 1s ease-in-out infinite;
    stroke-linecap: round;
  }

  @keyframes loader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }

    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
}
