<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/output.css" rel="stylesheet" />
    <script defer type="module" src="./builds/cdn.js"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body>
    <div class="m-4 mb-10 text-3xl font-semibold">Range</div>
  
    <div class="w-[400px] ml-10">
      <div
        x-data="range"
        data-step="10"
        class="flex h-5 items-center relative"
      >
        <div class="h-2 w-full rounded-full bg-secondary-300 dark:bg-dark-800 flex items-center pointer-events-none">
          <div class="relative bg-gray-500 h-full" x-bind="trackFill"></div>
          <template x-for="(s, index) in getSteps">
            <div class="absolute w-1 h-1 rounded-full bg-gray-600" x-bind="step"></div>
          </template>
        </div>
        <div class="absolute w-5 h-5 bg-gray-500 rounded-full pointer-events-none outline-hidden focus:ring-4 ring-primary-400/50 shadow-md" x-bind="slider1" tabindex="0">
          <div class="absolute bottom-6 px-2 py-0.5 bg-gray-500 text-white rounded-md text-sm -translate-x-1/2 left-1/2" x-text="getValue1"></div>
        </div>
        <div class="absolute w-5 h-5 bg-gray-500 rounded-full pointer-events-none outline-hidden focus:ring-4 ring-primary-400/50 shadow-md" x-bind="slider2" tabindex="0">
          <div class="absolute bottom-6 px-2 py-0.5 bg-gray-500 text-white rounded-md text-sm -translate-x-1/2 left-1/2" x-text="getValue2"></div>
        </div>
      </div>
    </div>
  </body>
</html>
