<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="/output.css" rel="stylesheet" />
  </head>
  <body>
    <button
      class="rounded-md border-primary-700 bg-primary-500 px-4 py-3 font-medium text-text-100 transition-opacity transition-shadow duration-150 hover:bg-primary-600 focus:outline-hidden focus:ring-4 focus:ring-primary-200 dark:bg-primary-500 dark:hover:bg-primary-600"
    >
      Button
    </button>
    <button
      class="rounded-md border-primary-700 bg-primary-500 px-4 py-2 font-medium text-text-100 transition-opacity transition-shadow duration-150 hover:bg-primary-600 focus:outline-hidden focus:ring-4 focus:ring-primary-200 dark:bg-primary-500 dark:hover:bg-primary-600"
    >
      Button
    </button>
    <button
      class="rounded-md border-primary-700 bg-primary-500 px-4 py-1 font-medium text-text-100 transition-opacity transition-shadow duration-150 hover:bg-primary-600 focus:outline-hidden focus:ring-4 focus:ring-primary-200 dark:bg-primary-500 dark:hover:bg-primary-600"
    >
      Button
    </button>
    <button
      class="rounded-md border-primary-700 bg-primary-500 px-4 py-1 font-medium text-text-100 transition-opacity transition-shadow duration-150 hover:bg-primary-600 focus:outline-hidden focus:ring-4 focus:ring-primary-200 dark:bg-primary-500 dark:hover:bg-primary-600 text-sm"
    >
      Button
    </button>
  </body>
</html>
