<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="m-4 mb-10 text-3xl font-semibold">Chip</div>

    <span
      class="dark:text-text-200 bg-secondary-200 dark:bg-dark-500 inline-flex items-center rounded-full pl-3 pr-2 align-top font-semibold"
    >
      <span>Text</span>
      <button
        class="dark:bg-dark-200 ml-2 flex items-center rounded-full bg-white p-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="h-2 w-2"
          viewBox="0 0 16 16"
        >
          <path
            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
          />
        </svg>
      </button>
    </span>
  </body>
</html>
