<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <style>
      ul {
        font-size: 1.4rem;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      .title {
        font-size: 2rem;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="title">
      Alpine components
    </div>
    <ul>
      <li>
        <a href="/components/tabs/tabs.html">tabs</a>
      </li>
      <li>
        <a href="/components/alert/alert.html">alert</a>
      </li>
      <li>
        <a href="/components/dropdown/dropdown.html">dropdown</a>
      </li>
      <li>
        <a href="/components/dropdown-context/dropdown-context.html">dropdown-context</a>
      </li>
      <li>
        <a href="/components/input/input.html">input</a>
      </li>
      <li>
        <a href="/components/modal/modal.html">modal</a>
      </li>
      <li>
        <a href="/components/datepicker/datepicker.html">datepicker</a>
      </li>
      <li>
        <a href="/components/progress/progress.html">progress</a>
      </li>
      <li>
        <a href="/components/pagination/pagination.html">pagination</a>
      </li>
      <li>
        <a href="/components/table/table.html">table</a>
      </li>
      <li>
        <a href="/components/textarea/textarea.html">textarea</a>
      </li>
      <li>
        <a href="/components/tooltip/tooltip.html">tooltip</a>
      </li>
      <li>
        <a href="/components/button/button.html">button</a>
      </li>
      <li>
        <a href="/components/carousel/carousel.html">carousel</a>
      </li>
      <li>
        <a href="/components/collapse/collapse.html">collapse</a>
      </li>
      <li>
        <a href="/components/breadcrumb/breadcrumb.html">breadcrumb</a>
      </li>
      <li>
        <a href="/components/switch/switch.html">switch</a>
      </li>
      <li>
        <a href="/components/range/range.html">range</a>
      </li>
      <li>
        <a href="/components/select/select.html">select</a>
      </li>
      <li>
        <a href="/components/autocomplete/autocomplete.html">autocomplete</a>
      </li>
      <li>
        <a href="/components/sidepanel/sidepanel.html">sidepanel</a>
      </li>
      <li>
        <a href="/components/spinner/spinner.html">spinner</a>
      </li>
      <li>
        <a href="/components/notify/notify.html">notify</a>
      </li>
      <li>
        <a href="/components/chip/chip.html">chip</a>
      </li>
      <li>
        <a href="/components/form-text/form-text.html">form-text</a>
      </li>
    </ul> 
  </body>
</html>
